<h1>Shelter List</h1>

<% @shelters.each do |shelter| %>
  <p><%= link_to shelter.name, "/shelters/#{shelter.id}", style: "float: left;" %></p>
  <p>
    <%= button_to  "Update #{shelter.name}", "/shelters/#{shelter.id}/edit", method: :get, id: "update_button" %>
    <%= button_to  "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete, id: "delete_button" %>
  </p>
<% end %>

<%= button_to 'New Shelter', "/shelters/new", method: :get %>
