<h1>Shelter List</h1>

<% @shelters.each do |shelter| %>
  <p><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></p>
<% end %>

<%= button_to 'Create a new Shelter', "/shelters/new", method: :get %>
